################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/CinemaCore/bin/Debug/netstandard2.0
/CinemaCore/obj
/Mock/bin/Debug/netstandard2.0
/Mock/obj
/PacoteExtra/PacoteExtra/bin/Debug/netstandard2.0
/PacoteExtra/PacoteExtra.Android/bin/Debug
/PacoteExtra/PacoteExtra/obj
/PacoteExtra/PacoteExtra.Android/obj
/PacoteExtra/PacoteExtra.iOS/obj/iPhone/Debug
/PacoteExtra/PacoteExtra.iOS/obj
/PacoteExtra/PacoteExtra.iOS/bin/iPhone/Debug
/PacoteExtra/PacoteExtra.Android/Resources/Resource.designer.cs
/CinemaCore/bin/Debug/netstandard2.1
/Mock/bin/Debug/netstandard2.1
/PacoteExtra/PacoteExtra/bin/Debug/netstandard2.1
